<div class="container-fluid jobportal-login-bg">
  <div class="d-flex justify-content-center" style="padding-top: 8%;">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate style="padding: 55px 60px;">
    <h2 class="text-center" style="margin-bottom: 25px;">Job Portal</h2>
    <h5 class="text-center" style="margin-bottom: 25px;">Sign into your account</h5>
		<div class="form-group">
      <input type="email" class="form-control" formControlName="email" placeholder="Enter email">

      <small class="form-text text-muted jobportal-login-error"
        *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.email">
          Email address not well formed.!
      </small>
    </div>

    <div class="form-group">
      <input type="password" class="form-control" formControlName="password" placeholder="Password">
    </div>

    <div class="itinerate-alert-warning-login" style="color: red;" role="alert" *ngIf="showLoginError">
      {{errorMessage}}
    </div>

    <div class="form-group">
      <button type="button" class="btn jobportal-btn-secondary float-left" (click)="redirectSignup()">Sign Up</button>
      <button type="submit" class="btn jobportal-btn-primary float-right">Submit</button>
    </div>
  </form>
</div>
</div>
