<section class="jobportal-profile-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 text-center">
        <div class="card">
          <div class="card-body">
            <div class="jobportal-profile-image">
              <img src="https://imgix.bustle.com/2017/4/20/ec0c4328-bd1a-45e7-b0d6-447a751f3b3f.jpg?w=970&h=546&fit=crop&crop=faces&auto=format%2Ccompress&cs=srgb&q=70">
              <h5>Ananya Kota</h5>
              <p>UX/UI Designer</p>
            </div>

            <div class="jobportal-profile-descriotion">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute iruress </p>
            </div>

            <div class="jobportal-profile-skills text-left">
              <h5>Skills</h5>
              <span class="badge badge-pill badge-secondary">Angular</span>
              <span class="badge badge-pill badge-secondary">HTML</span>
              <span class="badge badge-pill badge-secondary">CSS</span>
              <span class="badge badge-pill badge-secondary">Microsoft .NET</span>
              <span class="badge badge-pill badge-secondary">SQL SERVER</span>
              <span class="badge badge-pill badge-secondary">AWS</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="card">
          <div class="card-body">
            <div class="jobportal-profile-basic-info text-left">
              <h5>Basic Information</h5>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label>Age</label>
                    <span>30 Years</span>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="form-group">
                    <label>Years of Experience</label>
                    <span>6 Years</span>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="form-group">
                    <label>Phone Number</label>
                    <span>+91 90000 00000</span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label>CTC</label>
                    <span>12 LPA</span>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="form-group">
                    <label>Location</label>
                    <span>Hyderabad</span>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="form-group">
                    <label>Email</label>
                    <span>ash123456@gmail.com</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
